@import "../../../styles";

.recommended-items {
    padding-top: 100px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &.active {
      cursor: grab;
      cursor: -webkit-grab;
    }


  h3 {
    min-width: 220px;
  }


}
