<div class="container-fluid recommended-items">
  <div class="container">

    <div class="row">
     <div class="col d-flex  align-items-center">
       <h3 class="pe-5 m-0">Polecane w</h3>
       <ul class="list-unstyled d-flex align-items-center justify-content-center gap-4 p-0 m-0">
         <li><a routerLink="/category" routerLinkActive="active" >Poznaniu</a></li>
         <li><a routerLink="/category" routerLinkActive="active" >Wrocławiu</a></li>
         <li><a routerLink="/category" routerLinkActive="active" >Gdańsku</a></li>
         <li><a routerLink="/category" routerLinkActive="active" >Katowicach</a></li>
         <li><a routerLink="/category" routerLinkActive="active" >Warszawie</a></li>
         <li><a routerLink="/category" routerLinkActive="active" >Szczecinie</a></li>
       </ul>
     </div>
    </div>

    <div class="row pt-5 mt-3">
      <div class="col-12 col-lg-4"> <app-item ></app-item></div>
      <div class="col-12 col-lg-4"> <app-item ></app-item></div>
      <div class="col-12 col-lg-4"> <app-item ></app-item></div>
      <div class="col-12 col-lg-4"> <app-item ></app-item></div>
      <div class="col-12 col-lg-4"> <app-item ></app-item></div>
      <div class="col-12 col-lg-4"> <app-item ></app-item></div>
    </div>

  </div>

</div>
