<div class="container-fluid header">
  <div class="container">
    <div class="row pt-2 pb-2 d-flex align-items-stretch">
      <div class="col d-flex flex-column flex-lg-row align-items-center justify-content-center gap-3">

        <div class="d-flex align-items-center justify-content-center">
          <label class="label-service" for="service">
            <img src="/assets/img/magnifier.svg" alt="">
            <input name="service" id="service" type="text" placeholder="Znajdź usługę:">
          </label>
          <label for="localization">
            <img src="/assets/img/header-input-localizaton-icon.svg" alt="">
            <input name="localization"  id="localization" type="text" placeholder="Lokalizacja">
          </label>
        </div>

        <div class="login-register-btns--wrapper">
          <div class="login-register-btns">
            <a class="btn btn-default" href="#">Zaloguj</a>
            <a class="btn btn-register" href="#">Rejestracja</a>
          </div>
        </div>

      </div>
    </div>
    <div class="row pt-4 pb-4 d-none d-lg-block" >
      <div class="col">
        <ul>
          <li><a href="#">Fryzjer</a></li>
          <li><a href="#">Barber shop</a></li>
          <li><a href="#">Salon kosmetyczny</a></li>
          <li><a href="#">Paznokcie</a></li>
          <li><a href="#">Brwi i rzęsy</a></li>
          <li><a href="#">Masaż</a></li>
          <li><a class="d-none d-xl-block" href="#">Fizjoterapia</a></li>
          <li><a class="d-none d-xl-block" href="#">Instytucje Finansowe</a></li>
          <li><a href="#">Więcej...</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
