<div [ngStyle]="{'background-image': 'url(./assets/img/hero-img.jpg'}" class="container-fluid hero">

  <div class="container">
    <div class="row">
      <div class="col text-center text-white">
        <img class="mb-3 d-lg-none" src="/assets/img/pickmode_logo_small.png" alt="pickmode logo">
        <h1>Podkreśl swoje piękno</h1>
        <h2>Odkryj najlepsze salony w okolicy i zarezerwuj wizyte online!</h2>
      </div>
    </div>
  </div>

  <div class="hero--categories container d-none d-lg-block">
    <ul class="list-unstyled m-0 p-0">
      <li><a routerLink="/category" routerLinkActive="active" >Fryzjer</a></li>
      <li><a routerLink="/category" routerLinkActive="active" >Barber shop</a></li>
      <li><a routerLink="/category" routerLinkActive="active" >Salon kosmetyczny</a></li>
      <li><a routerLink="/category" routerLinkActive="active" >Paznokcie</a></li>
      <li><a routerLink="/category" routerLinkActive="active" >Brwi i rzęsy</a></li>
      <li><a routerLink="/category" routerLinkActive="active" >Masaż</a></li>
      <li><a routerLink="/category" routerLinkActive="active" >Fizjoterapia</a></li>
      <li><a routerLink="/category" routerLinkActive="active" >Więcej...</a></li>
    </ul>
  </div>


</div>
