<div class="container-fluid single-item-opinions">
  <div class="container">

    <!--opinie-->
    <div class="row mt-3">
      <div class="col">
        <h3>Opinie</h3>

        <div class="opinions">
          <div class="opinion">
            <header>
              <div>
                <img src="/assets/img/single-item/opinion-avatar.png" alt="">
              </div>
              <div class="d-flex flex-column">

                <div class="d-flex">
                  <div class="opinion--name">Anja Kowalska</div>
                  <div class="opinion--rating">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                  </div>
                </div>

                <div class="d-flex mt-2">
                 <div class="opinion--service"> Strzyżenie dziecka 4 lata  | </div>
                  <div class="opinion--date">dodano: 23.07.2020</div>
                </div>

              </div>
            </header>
            <main>

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              <div class="opinion--actions">
                <div class="label">
                  <img src="/assets/img/like.svg" alt="">
                </div>
                <div class="label">
                  <img src="/assets/img/unlike.svg" alt="">
                </div>
              </div>
            </main>

          </div>
          <div class="opinion">
            <header>
              <div>
                <img src="/assets/img/single-item/opinion-avatar.png" alt="">
              </div>
              <div class="d-flex flex-column">

                <div class="d-flex">
                  <div class="opinion--name">Anja Kowalska</div>
                  <div class="opinion--rating">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                  </div>
                </div>

                <div class="d-flex mt-2">
                  <div class="opinion--service"> Strzyżenie dziecka 4 lata  | </div>
                  <div class="opinion--date">dodano: 23.07.2020</div>
                </div>

              </div>
            </header>
            <main>

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              <div class="opinion--actions">
                <div class="label">
                  <img src="/assets/img/like.svg" alt="">
                </div>
                <div class="label">
                  <img src="/assets/img/unlike.svg" alt="">
                </div>
              </div>
            </main>

          </div>
          <div class="opinion">
            <header>
              <div>
                <img src="/assets/img/single-item/opinion-avatar.png" alt="">
              </div>
              <div class="d-flex flex-column">

                <div class="d-flex">
                  <div class="opinion--name">Anja Kowalska</div>
                  <div class="opinion--rating">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                  </div>
                </div>

                <div class="d-flex mt-2">
                  <div class="opinion--service"> Strzyżenie dziecka 4 lata  | </div>
                  <div class="opinion--date">dodano: 23.07.2020</div>
                </div>

              </div>
            </header>
            <main>

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              <div class="opinion--actions">
                <div class="label">
                  <img src="/assets/img/like.svg" alt="">
                </div>
                <div class="label">
                  <img src="/assets/img/unlike.svg" alt="">
                </div>
              </div>
            </main>

          </div>
          <div class="opinion">
            <header>
              <div>
                <img src="/assets/img/single-item/opinion-avatar.png" alt="">
              </div>
              <div class="d-flex flex-column">

                <div class="d-flex">
                  <div class="opinion--name">Anja Kowalska</div>
                  <div class="opinion--rating">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                  </div>
                </div>

                <div class="d-flex mt-2">
                  <div class="opinion--service"> Strzyżenie dziecka 4 lata  | </div>
                  <div class="opinion--date">dodano: 23.07.2020</div>
                </div>

              </div>
            </header>
            <main>

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              <div class="opinion--actions">
                <div class="label">
                  <img src="/assets/img/like.svg" alt="">
                </div>
                <div class="label">
                  <img src="/assets/img/unlike.svg" alt="">
                </div>
              </div>
            </main>

          </div>
          <div class="opinion">
            <header>
              <div>
                <img src="/assets/img/single-item/opinion-avatar.png" alt="">
              </div>
              <div class="d-flex flex-column">

                <div class="d-flex">
                  <div class="opinion--name">Anja Kowalska</div>
                  <div class="opinion--rating">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                  </div>
                </div>

                <div class="d-flex mt-2">
                  <div class="opinion--service"> Strzyżenie dziecka 4 lata  | </div>
                  <div class="opinion--date">dodano: 23.07.2020</div>
                </div>

              </div>
            </header>
            <main>

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              <div class="opinion--actions">
                <div class="label">
                  <img src="/assets/img/like.svg" alt="">
                </div>
                <div class="label">
                  <img src="/assets/img/unlike.svg" alt="">
                </div>
              </div>
            </main>

          </div>
          <div class="opinion">
            <header>
              <div>
                <img src="/assets/img/single-item/opinion-avatar.png" alt="">
              </div>
              <div class="d-flex flex-column">

                <div class="d-flex">
                  <div class="opinion--name">Anja Kowalska</div>
                  <div class="opinion--rating">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                    <img src="/assets/img/star.svg" alt="">
                  </div>
                </div>

                <div class="d-flex mt-2">
                  <div class="opinion--service"> Strzyżenie dziecka 4 lata  | </div>
                  <div class="opinion--date">dodano: 23.07.2020</div>
                </div>

              </div>
            </header>
            <main>

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              <div class="opinion--actions">
                <div class="label">
                  <img src="/assets/img/like.svg" alt="">
                </div>
                <div class="label">
                  <img src="/assets/img/unlike.svg" alt="">
                </div>
              </div>
            </main>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
