<div class="container-fluid single-item-content">
  <div class="container">

    <!--o nas-->
    <div class="row mt-3">
      <div class="col">
        <h3>O nas</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <!--nasi pracownicy-->
    <div class="row mt-3">
      <div class="col">
        <h3>Nasi pracownicy</h3>

        <div class="persons">
          <div class="person">
            <img src="/assets/img/single-item/person.png" alt="">
            Nadia Nowak
          </div>

          <div class="person">
            <img src="/assets/img/single-item/person.png" alt="">
            Nadia Nowak
          </div>

          <div class="person">
            <img src="/assets/img/single-item/person.png" alt="">
            Nadia Nowak
          </div>

          <div class="person">
            <img src="/assets/img/single-item/person.png" alt="">
            Nadia Nowak
          </div>
        </div>


      </div>
    </div>

    <!--usługi-->
    <div class="row mt-3 services">
      <div class="col">
        <h3>Usługi</h3>
        <ul>
          <li>
            <div>
              <span class="name">Konsultacje z barberem</span>
              <span class="price">123.00 pln</span>
            </div>
            <div class="btn-wrapper">
              <a class="btn-default" href="#">Umów się</a>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Konsultacje z barberem</span>
              <span class="price">123.00 pln</span>
            </div>
            <div class="btn-wrapper">
              <a class="btn-default" href="#">Umów się</a>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Konsultacje z barberem</span>
              <span class="price">123.00 pln</span>
            </div>
            <div class="btn-wrapper">
              <a class="btn-default" href="#">Umów się</a>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Konsultacje z barberem</span>
              <span class="price">123.00 pln</span>
            </div>
            <div class="btn-wrapper">
              <a class="btn-default" href="#">Umów się</a>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Konsultacje z barberem</span>
              <span class="price">123.00 pln</span>
            </div>
            <div class="btn-wrapper">
              <a class="btn-default" href="#">Umów się</a>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Konsultacje z barberem</span>
              <span class="price">123.00 pln</span>
            </div>
            <div class="btn-wrapper">
              <a class="btn-default" href="#">Umów się</a>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Konsultacje z barberem</span>
              <span class="price">123.00 pln</span>
            </div>
            <div class="btn-wrapper">
              <a class="btn-default" href="#">Umów się</a>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Konsultacje z barberem</span>
              <span class="price">123.00 pln</span>
            </div>
            <div class="btn-wrapper">
              <a class="btn-default" href="#">Umów się</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!--godziny otwarcia-->
    <div class="row mt-3 opening-hours">
      <div class="col">
        <h3>Godziny otwarcia</h3>
        <ul>
          <li>
            <div>
              <span class="name ">Poniedziałek</span>
              <span class="hours closed">nieczynne</span>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Wtorek</span>
              <span class="hours">08:00 - 16:00</span>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Środa</span>
              <span class="hours">08:00 - 16:00</span>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Czwartek</span>
              <span class="hours">08:00 - 16:00</span>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Piątek</span>
              <span class="hours">08:00 - 16:00</span>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Sobota</span>
              <span class="hours">nieczynne</span>
            </div>
          </li>
          <li>
            <div>
              <span class="name">Niedziela</span>
              <span class="hours">nieczynne</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
